body{
font-family: "Arial";
background-color: antiquewhite;
}

h1{
    text-align: center;
    color: blueviolet;
}

p{
    color:brown ;
    font-size: 20px;
}

table, th, td{
    text-align: center;
    border: 1px solid;
    border-color: royalblue;
}

th{
    height: 10px;
    width: 50px;
    background-color: goldenrod;
    color: brown;
    text-align: center;
    padding: 14px;
    
}
/*comentario en css*/
td{
    height: 3px;
    width: 20px;
    text-align: left;
    vertical-align:auto;
    padding: 14px;
    background-color: cadetblue;
}

h2{
    color:palevioletred;
    text-align: center;
    box-shadow:0 1px 20px 0 rgba(0, 0, 0, 0.5) ;
    font-size: 25px;
}







#Codigo{
    background-color: aliceblue;
    padding: 1%;
    border: 1px solid;
    border-color: black;
}
.div-img1{
    display: flex;
    justify-content: center;
}