body{
font-family: "Arial";
background-color: antiquewhite;
}

h1{
    text-align: center;
    color: blueviolet;
}

p{
    color:brown ;
    font-size: 20px;
}

table, th, td{
    text-align: center;
    border: 1px solid;
    border-color: royalblue;
}

th{
    height: 20px;
    width: 50px;
    background-color: goldenrod;
    color: brown;
    
}

td{
    text-align: center;
    vertical-align:auto;
}


